.row {
    width: 1000px;
   height: 500px;
   margin: auto;
}
.kotak {border: 1px solid rgb(0, 0, 0);
    width: 200px;
   height: 500px;
   float: left;
   margin-left: 40px;
}
.kuning {background-color: yellow;border:1px solid rgb(0, 0, 0) ;}
.ijo {background-color: rgb(0, 255, 34);}
.biru {background-color: rgb(40, 2, 255);}
.merah {background-color:rgb(255, 8, 8);}


   
